<!-- views contain partials and html layout structure/ handlebars layout engine -->
<!-- data send from controller to this view, to render the response  --> 
{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title">Playtime: Organize and manage your music</p>
    <p class="box">
      <!-- fa-sizex makes the icons bigger -->
      <i style="color: rgb(10, 40, 100)" class="fas fa-music fa-10x"></i>
      <i style="color:greenyellow" class="fas fa-plus fa-5x"></i>
      <i style="color: rgb(10, 40, 100)" class="fas fa-headphones fa-10x"></i>
    </p>    
  </div>
</section>


